.header-container {
  background-color: black;
  padding: 20px;
  text-align: center;
}

.header-container a {
  text-decoration: none;
  color: whitesmoke;
  margin-right: 5px;
  padding: 15px;
  font-size: larger;
}

.header-container a:hover {
  background-color: teal;
}
.header {
  color: whitesmoke;
}

.welfare {
  color: tomato;
}